<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>Some text here</p>

        {{!-- Injetando o footer por partials (HBS)  --}}
        {{> footer}}
    </body>
</html>